*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
html{
  background-color: whitesmoke;
}
.channels{
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
}

.list{
  font-size: 15px;
  margin: 25px 25px;

}

.directMsg{
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
}


.status, .user, .profile button{
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
}
.profile button{
  margin: 10px 20%;
}
.logout {
  font-size: 18px;
  font-weight: 600;
  padding: 40px 40%;
  width: 100%;
  cursor: pointer;
}
